
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Raleway", sans-serif;
  }
  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
  }
  header p {
    font-size: 25px;
  }
  
  .pads {
    background: lightblue;
    width: 100%;
    display: flex;
  }
  .pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
  }
  .pad1 {
    background: #60d394;
  }
  .pad2 {
    background: #d36060;
  }
  .pad3 {
    background: #c060d3;
  }
  .pad4 {
    background: #d3d160;
  }
  .pad5 {
    background: #606bd3;
  }
  .pad6 {
    background: #60c2d3;
  }
  
  .visual > div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);   
  }
  
  @keyframes jump {
    0% {
      bottom: 0%;
      left: 20%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }
  
    100% {
      bottom: 00%;
      left: 80%;
    }
  }
  .info{
    background-image: url('../img/music.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
    padding: 8px;
    margin: 0 0 20px 0  ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .btn{
    text-transform: uppercase;
    border-radius: 15px;
    padding: 20px 30px;
    border: none;
    color: white;
    
  
  }
  .btn-colorBlue{
    position: absolute;
    z-index: 1;
    overflow: auto;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    
  }
  .btn-colorGreen{
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.btn-colorPink{
  background-color: #FEE140;
background-image: linear-gradient(225deg, #FEE140 0%, #FA709A 100%);
}
.img{
  padding: 20px;
}
header{
  background-image: url('../img/music-and-sound-focus-hero.jpg');
  background-size: cover;
  width: 100%;
  height: 200px;
  color: white;
  text-align: center;
}
